*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

label {
    font-size: 20px;
}

html,
body {
    height: 100%;
    width: 100%;
    /* Removed flexbox centering here */
}

.container {
    background-color: #FFF;
    padding: 32px 48px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

    margin: 50px auto;
}

.container>h1 {
    margin-bottom: 20px;
}

.container>form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.container button:hover {
    background-color: #45a049;
}
.container div {
    display: flex;
    flex-direction: column;
}

.container input {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.container input::placeholder {
    font-size: 12px;
    font-style: italic;
}